@font-face {
    font-family: Cabin;
    src: url('/google_fonts/Cabin-Bold.ttf')  format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: Cabin;
    src: url('/google_fonts/Cabin-Regular.ttf')  format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: EB Garamond;
    src: url('/google_fonts/EBGaramond-Regular.ttf')  format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: Space Grotesk;
    src: url('/google_fonts/SpaceGrotesk-Bold.ttf')  format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: Space Grotesk;
    src: url('/google_fonts/SpaceGrotesk-Light.ttf')  format('truetype');
    font-weight: 300;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-headline text-2xl font-bold md:text-4xl;
    }
    h2 {
        @apply font-headline text-xl font-bold md:text-3xl;
    }
    h3 {
        @apply font-headline text-lg font-bold md:text-2xl;
    }
    h4 {
        @apply font-headline text-lg font-light md:text-2xl;
    }

    p {
        @apply whitespace-pre-line text-sm leading-snug md:text-base;
    }

    .label-xs {
        @apply text-xs font-bold;
    }

    .label-sm {
        @apply text-xs font-bold md:text-sm;
    }

    .label-md {
        @apply text-sm font-bold md:text-base;
    }

    .label-lg {
        @apply text-base font-bold md:text-lg;
    }

    .label-xl {
        @apply text-base font-bold md:text-xl;
    }
    .container-box {
        @apply container mx-auto px-4 md:px-8;
    }

    @media (min-width: 640px) {
        .container-fixed {
            min-width: 640px;
        }
    }
    @media (min-width: 768px) {
        .container-fixed {
            min-width: 768px;
        }
    }
    @media (min-width: 1024px) {
        .container-fixed {
            min-width: 1024px;
        }
    }
    @media (min-width: 1280px) {
        .container-fixed {
            min-width: 1280px;
        }
    }
    @media (min-width: 1536px) {
        .container-fixed {
            min-width: 1536px;
        }
    }

    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }

    @keyframes scale {
        50% {
            transform: scale(1.2);
        }
    }
    .animate-scale {
        animation: scale 2s cubic-bezier(0, 0, 0.2, 1) infinite;
    }
}
