@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=EB+Garamond&family=Space+Grotesk:wght@300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-headline font-bold text-2xl md:text-4xl;
    }
    h2 {
        @apply font-headline font-bold text-xl md:text-3xl;
    }
    h3 {
        @apply font-headline font-bold text-lg md:text-2xl;
    }
    h4 {
        @apply font-headline font-light text-lg md:text-2xl;
    }

    p {
        @apply text-sm md:text-base leading-snug whitespace-pre-line;
    }

    .label-xs {
        @apply text-xs font-bold;
    }

    .label-sm {
        @apply text-xs md:text-sm font-bold;
    }
    .label-xl {
        @apply text-base md:text-xl font-bold;
    }
    .container-box {
        @apply mx-auto container px-4 md:px-8;
    }
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
}
